@import "../../../assets/sass/variables";
@import "../../../assets/sass/helpers";
  .main-recipe{          
      @extend %main-background;
    .recipe-text{
        color: #fff;
        @extend %centered-text;
        } 
  }
  .single-recipe{
    .recipe-details{
      h2{
        color: #000;
      }
      p{
        line-height: 30px;
        border-bottom: 1px solid #e3e3e3;
        padding-bottom: 20px;
      }
    }
    .badge-primary{
      background-color: $main-color
    }
    .btn{
      font-size: 14px;
      margin-top: 20px;
      text-transform: capitalize;
      i{
        margin-right: 5px;
      }
    }
    .btn-warning{
      color: #fff;
    }
  }
  .dropdown-menu li a{
    padding-left: 10px;
  }
  #toast-container > div {
    opacity:1;
}