
<div class="copy-rights">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>All rights reserved ©
          <a class="link" routerLink="/">RecipeBook</a> 2019</p>
      </div>
      <div class="col-md-6">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="fab fa-google-plus-g"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="fab fa-pinterest-p"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>